html {
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.account {
    width: auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    overflow-wrap: break-word;

    & input {
        font-size: 20px;
        padding: 10px;
        border: 0;
        outline: 0;
        border-bottom: 1px #ccc solid;
    }
}
.account h2 {
    text-align: center;
}
.account p {
    text-align: center;
    font-size: 20px;
}
.account button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
}